@charset "UTF-8";
// 共通設定 //
$back-color: #f4f9ff;
$back-color_menu: #222222;
$back-color_index: #fff;
$font-color: #333333;
$font-color_menu: #eeeeee;
$border-color_detail: #dedede;
@mixin display-flex_column($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

// ブレイクポイント //
$sp: 1025px;

// media
// @mixin pc {
//   @media (min-width: $sp) {
//     @content;
//   }
// }
// @mixin widthVW($width) {
//   width: ($width / 375) * 100vw;
// }

// .hoge {
//   height: 1000px;
//   background-color: red;
//   @include widthVW(37);
// }

body {
  position: relative;
  background-color: $back-color;
  color: $font-color;
  font-family: "Meiryo";
}
.section-title_font {
  font-size: 18px;
  font-weight: bold;
}
.section-text_font {
  font-size: 14px;
}

// 余白設定 //
.logo-mainvisual_wrapper {
  padding: 60px 3% 0;
}
.detail-footer_wrapper {
  // フッターの上の余白をgapでつける場合
  // @include display-flex_column(115px);
  padding: 0 10% 15px;
  footer {
    margin-top: 115px;
  }
}
.wrap_inner {
  max-width: 600px;
  margin: 0 auto;
}

// メニュー //
#menu {
  position: absolute;
  position: fixed;
  left: 50%;
  background-color: $back-color_menu;
  opacity: 0.7;
  height: 100vh;
  width: 50%;
  ul {
    @include display-flex_column(20px);
    margin-top: 30px;
    align-items: center;
    li {
      color: $font-color_menu;
      border-bottom: 1px solid $font-color_menu;
    }
  }
}

// ロゴ //
.logo {
  max-width: 1000px;
  margin: 0 auto 15px;
  text-align: left;
  img {
    width: 160px;
  }
}

// メインビジュアル //
.mainvisual {
  max-width: 1000px;
  margin: 0 auto;
}

// 目次 //
#index {
  max-width: 1000px;
  margin: 60px auto;
  padding: 30px 10% 20px;
  background-color: $back-color_index;
  ol {
    list-style: decimal;
    padding-left: 16px;
    li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

// コンテンツ //
#detail {
  .wrap_inner {
    @include display-flex_column(10px);
  }
  a {
    text-decoration: underline;
  }
  a:hover {
    color: $font-color;
    opacity: 0.7;
  }
}
.detail_inner {
  @include display-flex_column(25px);
}
@media (min-width: $sp) {
  .detail_inner {
    flex-direction: row;
    gap: 60px;
    img {
      width: 270px;
    }
    .detail_inner-text {
      width: 270px;
    }
  }
}
.detail_inner-text {
  @include display-flex_column(20px);
}

.detail-table {
  // tableの親要素としてpadding指定する場合
  padding: 16px 0;
  // width: 100%;
  border-top: 1px solid $border-color_detail;
  border-bottom: 1px solid $border-color_detail;
  .th-1 {
    padding-top: 16px;
    width: 25%;
  }
  .th-2 {
    width: 75%;
  }
  tr:last-of-type {
    td:last-of-type {
      padding-bottom: 16px;
    }
  }
}

// .hoge {
//   display: grid;
//   grid-template-columns: 25% 75%;
// }

// フッター //
.copyright {
  font-size: 10px;
}
